[Unit]
Description=Bot SSH Copilot
After=network.target

[Service]
User=fabio
Group=sudo
WorkingDirectory=/home/fabio/projetos/ssh-copilot-bot
ExecStart=/home/fabio/projetos/ssh-copilot-bot/venv/bin/python /home/fabio/projetos/ssh-copilot-bot/infra-bot.py
Restart=on-failure
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target

